*
{
    padding:0px;
    margin:0px;
}
body{
    background: url("https://th.bing.com/th/id/R.29a33bdf45b4a131eff27b322a1f3e66?rik=EJUBhwDFh64Tcg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fFRQAffH.jpg&ehk=F3qt7wVKjR7pnLgSg7iKydn5284bXJf4xMJKm4Sor0w%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-size: cover;
    background-color: hsl(206, 27%, 38%); /* Your desired color */
    background-blend-mode: multiply;
}
.heading
{
    color:white;
    font-size: x-large;
    font-family:cursive;
    margin: 20px 0 0 400px;
}
.mail
{
    font-size: 25px;
}
.body
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.txt{
    margin-top:200px;
    font-size: 70px;
    font-family: cursive;
    color:white;
}
.desc
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    color:white;
}
.desc div{
    height:20px;
    width:3px;
    margin: 0 30px 0 30px;
    background-color:white;
}
button{
    height:70px;
    width:20%;
    margin: 40px 0 0 550px;
    border-radius: 20px;
    font-size: larger;
    color:hsl(206, 27%, 38%);
    font-weight: 600;
}
button:hover{
    background-color: hsl(206, 27%, 38%);
    color:white;
    cursor:pointer;
}
